<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Groceries</title>
</head>
<body>
    <div data-role="page" id="employees">
        <div data-role="header" style="overflow:hidden;">
            <h1>Abarrotes app</h1>
             <a href="#" data-icon="gear" class="ui-btn-right">Options</a>
            <div data-role="navbar">
                <ul>
                    <li><a href="/groceries/products/getAll">Productos</a></li>
                    <li><a href="/groceries/employees/getAll">Empleados</a></li>
                    <li><a href="/groceries/customers/getAll">Clientes</a></li>
                </ul>
            </div>

        </div>
        <div role="main" class="ui-content">
            <form action="/groceries/employees/updateOne/<%= employees.employee_number %>" method="POST">
                <div class="card">
                    <div class="card-body">
                        <label for="txt_employee_number">Numero de empleado</label>
                        <input type="text" name="employee_number" id="txt_employee_number" value="<%= employees.employee_number %>">
                        <label for="txt_name">Nombre</label>
                        <input type="text" name="name" id="txt_name" value="<%= employees.name %>">
                        <label for="txt_lastname">apellido</label>
                        <input type="text" name="lastname" id="txt_lastname" value="<%= employees.lastname %>">
                        <label for="txt_age">Edad</label>
                        <input type="text" name="age" id="txt_age" value="<%= employees.age %>">
                        <label for="txt_email">Correo</label>
                        <input type="text" name="email" id="txt_email" value="<%= employees.email %>">
                        <label for="txt_salary">salario</label>
                        <input type="text" name="salary" id="txt_salary" value="<%= employees.salari %>">
                        <button class="ui-btn ui-shadow">Actualizar</button>
                    </div>
                </div>
            </form>     
        </div>
        <div data-role="footer">
        </div>
    </div>
</body>
</html>
